<div class="card col-md-6 offset-md-3 offset-md-3" style="margin-top: 70px">
    <h3 class="text-center" style="margin-bottom: -10px;"><strong> Employee Details </strong></h3>
    <hr />
    <div>
        <div>
            <label> <b> First Name: &nbsp;&nbsp;</b></label> {{employee.firstName}}
        </div>
        <div>
            <label> <b> Last Name: &nbsp;&nbsp;&nbsp;</b></label> {{employee.lastName}}
        </div>
        <div>
            <label> <b> Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label> {{employee.email}}
        </div>
        <div>
            <label> <b> Contact: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label> {{employee.contact}}
        </div>
        <div>
            <label> <b> Department: </b></label> {{employee.department}}
        </div>
  <br>
<button class="btn btn-success" style ="color: white; background-color: gray; border-color: gray;" type="submit" routerLink="">&laquo; Back</button>
</div>
</div>