h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 87px;
}

.navbar{
    background-color: black;
}

.btn-list{
    padding: 10px 24px;
    background-color: black;
    border: white;
    color: white;
    margin-right: 100px;
}

.btn-add{
    padding: 10px 24px;
    background-color: black;
    border-left-color: white;
    color: white;
    margin-left: -100px;
    margin-right: 60px;
    border-radius: 0%;
    
}

