<nav class="navbar navbar-light">
  
    <h2 class="text-light primary py-3">  Employee Management System <img src="../../assets/icons/logo.svg" alt="" width="35" height="" class="d-inline-block align-text-top"></h2>
    <div class="d-flex">
    <button class="btn btn-list"><a routerLink="employees" routerLinkActive="active" style="color: white; text-decoration: none;">Employee List</a></button>
    <button class="btn btn-add"><a routerLink="create-employee" routerLinkActive="active" style="color: white; text-decoration: none;" >Add Employee</a></button>
  </div>
 
</nav>

<div class = "container">
  <router-outlet></router-outlet>
</div>



